In [11]:
import pandas as pd

In [12]:
#1. Import the Provided Salary Data

data_url = 'C:\\Users\\User\\Downloads\\Total.csv\\Total.csv'
salary_data = pd.read_csv(data_url, low_memory=False)

In [13]:
salary_data.head(10)

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,Not Provided,567595.43,567595.43,2011
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,Not Provided,538909.28,538909.28,2011
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,Not Provided,335279.91,335279.91,2011
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,Not Provided,332343.61,332343.61,2011
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,Not Provided,326373.19,326373.19,2011
5,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.00,8601.00,189082.74,Not Provided,316285.74,316285.74,2011
6,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.90,134426.14,Not Provided,315981.05,315981.05,2011
7,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.00,51322.50,Not Provided,307899.46,307899.46,2011
8,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,Not Provided,303427.55,303427.55,2011
9,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.00,0.00,17115.73,Not Provided,302377.73,302377.73,2011

In [14]:
#Step 2: Develop a Python Function to Get Employee Details

def get_employee_details(name, data):
    try:
        employee = data[data['EmployeeName'].str.upper() == name.upper()]
        if employee.empty:
            return f"No employee found with the name: {name}"
        return employee.to_dict(orient='records')[0]
    except Exception as e:
        return str(e)

In [15]:
#Step 3: Process the Salary Data Using a Dictionary

def process_data_to_dict(data):
    try:
        employee_dict = data.set_index('EmployeeName').T.to_dict()
        return employee_dict
    except Exception as e:
        return str(e)

In [16]:
# We have already implemented basic error handling in the previous functions.
# Error handling in the data processing function and the function for exporting employee details to a CSV file will also be done.
#5. Export Employee Details:

import os
import csv
import zipfile


def export_employee_to_csv(name, data):
    try:
        details = get_employee_details(name, data)
        if isinstance(details, str):
            return details

        # Create directory if it doesn't exist
        dir_name = "Employee_Profile"
        if not os.path.exists(dir_name):
            os.makedirs(dir_name)

        # Write to CSV file
        csv_file_path = os.path.join(dir_name, f"{name.replace(' ', '_')}.csv")
        with open(csv_file_path, 'w', newline='') as csvfile:
            writer = csv.DictWriter(csvfile, fieldnames=details.keys())
            writer.writeheader()
            writer.writerow(details)

        # Zip the directory
        zip_file_path = "C:\\Users\\User\\Downloads\\Employee_Profile.zip"
        with zipfile.ZipFile(zip_file_path, 'w') as zipf:
            zipf.write(csv_file_path, os.path.basename(csv_file_path))

        return f"Employee details exported and zipped at {zip_file_path}"
    except Exception as e:
        return str(e)

In [17]:
# Export an employee's details to a CSV file and save it within a zipped folder named "Employee Profile."
export_message = export_employee_to_csv("DAVID SULLIVAN", salary_data)
export_message

'Employee details exported and zipped at C:\\Users\\User\\Downloads\\Employee_Profile.zip'